*.pkl
*.pt
*.pyc
*.save
__pycache__
*.tar
.vc
.gitattributes
*.pth
synthesizer/saved_models/*
*.zip
*.mp4
*.wav
*.npz
*.ckpt*
*.idea
*.png
.vscode
evaluation
ffmpeg*
*.txt
experiments
gcp.json
*saved_models
